.form {
    width: 30%;
    position: relative;
}

.form-elements-inactive {
    filter: blur(1px);
    pointer-events: none;
}

.message-box {
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 198);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding: 10px;
}

.message-box-hide {
    display: none;
}

.form input,
select,
button {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 5px;
    margin: 3px;
}

.form button {
    margin-top: 10px;
}