.form {
    width: 30%;
    position: relative;
}

.form-elements-inactive {
    filter: blur(1px);
    pointer-events: none;
}

.form input,
select,
button {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 5px;
    margin: 3px;
}

.form button {
    margin-top: 10px;
}
